<div fxLayout="row" fxLayoutAlign="center center" class="main-wrap full-height">
  <mat-card>
    <h2 class="text-center">Registration</h2>
    <form class="example-form m-b-20">

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter Your name" type="email">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter company name" type="email">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter email" type="email">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Enter password" type="password">
        </mat-form-field>
      </div>
    </form>

    <div fxLayout="row" fxLayoutAlign="center center" class="m-b-10">
      <button mat-raised-button color="primary" class="full-width">Sign up</button>
    </div>
    
    <div class="text-center m-b-10">
      <b>or</b>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
      <button routerLink="/login" mat-raised-button color="primary">Login</button>
    </div>

  </mat-card>
</div>