$primary:    #3c8dbc;
$secondary:  #89879f;
$danger:     #f53d3d;
$light:      #f4f4f4;
$dark:       #222;
$facebook:   #3b5998;
$gplus:      #dc4e41;
$black:      #000000;
$white:      white;
$help:       #ff936f;
$info:       #ffd740;
$success:    #2ad192;