<div class="main-wrap" (window:resize)="onResize()">
  <div class="example-container">
    <div class="side-content-wrap">
      <button class="header-button header-button-mobile" type="button" mat-button (click)="menuOpen = !menuOpen; menuOpenFixed = !menuOpenFixed">
        <i class="material-icons">
          menu
        </i>
      </button>
      <div class="side-menu" (mouseenter)="menuOpenFixed ? '' : (menuOpen = !true)" (mouseleave)="menuOpenFixed ? '' : (menuOpen = !false)"
        [ngClass]="{'active': menuOpen === true}">

        <div class="menu-header">
          <span *ngIf="menuOpen !== true" class="fs-20 fw-600">
            Company Name
          </span>
        </div>
        <div [ngClass]="{'p-0': menuOpen === true}" class="p-l-10 menu-list" fxLayout="column" fxLayoutGap="10px">
          <div class="p-l-10 menu-item" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <i class="material-icons fs-30">
              home
            </i>
            <span class="fs-14">
              Dashboard
            </span>
          </div>
          <div class="p-l-10 menu-item" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <i class="material-icons fs-30">
              local_grocery_store
            </i>
            <span class="fs-14">
              Orders
            </span>
          </div>
          <div class="p-l-10 menu-item" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <i class="material-icons fs-30">
              assignment
            </i>
            <span class="fs-14">
              Product
            </span>
          </div>
          <div class="p-l-10 menu-item" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <i class="material-icons fs-30">
              assignment
            </i>
            <span class="fs-14">
              Inventory
            </span>
          </div>
          <div class="p-l-10 menu-item" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <i class="material-icons fs-30">
              assignment
            </i>
            <span class="fs-14">
              Reports
            </span>
          </div>
          <div class="p-l-10 menu-item" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
            <i class="material-icons fs-30">
              assignment
            </i>
            <span class="fs-14">
              Setting
            </span>
          </div>
        </div>
      </div>
    </div>

      <mat-toolbar class="header" fxLayout="row" fxLayoutAlign="end center">
        <div>
          <button class="header-button" mat-button [matMenuTriggerFor]="menu">
            <span>
                Username
            </span>
            <i class="material-icons fs-30 m-l-10">
              account_circle
            </i>
          </button>
          <mat-menu #menu="matMenu">
            <div fxLayout="column" fxLayoutGap="10px">
              <button mat-menu-item>My Account</button>
              <button mat-menu-item>Logout</button>
            </div>
          </mat-menu>
        </div>
      </mat-toolbar>

      <div class="main-content-wrap">
        <router-outlet></router-outlet>
      </div>

  </div>

</div>
