/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/scss/style.scss';

body{
    margin: 0;
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}
.mat-drawer-container, .mat-drawer-content{
    min-height: 100vh;
}

.fs-400{
    font-weight: 400;
}
.text-left{
    text-align: left;
}
.mat-toolbar-row, .mat-toolbar-single-row{
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    height: 50px !important;
}
.mat-toolbar{
    background: whitesmoke;
    // background: #283593;
}
.mat-button.header-button{
    font-size: 17px;
    color: rgb(255, 255, 255) !important;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}

.color-gray{
    color: gray;
}
.mat-drawer-content{
    @include media-breakpoint('lt-md'){
        margin-left: 0 !important;
    }
}
.hide-element{
    display: none;
}

.c-p{
    cursor: pointer;
}

.color-white{
    color: white;
}
.color-success{
    color: $success;
}
.color-primary{
    color: $primary;
}
.color-danger{
    color: $danger;
}
.color-help{
    color: $help;
}
.color-secondary{
    color: $secondary;
}
.color-info{
    color: $info;
}


.bg-success{
    background: $success;
}
.bg-primary{
    background: $primary;
}
.bg-danger{
    background: $danger;
}
.bg-help{
    background: $help;
}
.bg-secondary{
    background: $secondary;
}
.bg-info{
    background: $info;
    color: white;
}
.full-width{
    width: 100%;
}
.fw-600{
    font-weight: 600;
}

table.mat-table{
    overflow: auto;
}
.text-center{
    text-align: center;
}
.mat-menu-panel{
    width: 200px;
}
.mat-menu-content{
    padding: 8px;
}
.chip{
    padding: 3px 6px;
    border-radius: 4px; 
}


.scroll-bar{
    overflow-x: auto;
    &::-webkit-scrollbar {
        width: 3px;
        height: 5px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #ffffff00; 
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(116, 116, 116, 0.534); 
        border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(90, 90, 90, 0.534); 
    }
}

.cdk-overlay-container{
    z-index: 1111111111;
}

  
.cdk-global-overlay-wrapper{
    overflow-y: auto;
}
.dialog-view{
    align-items: unset !important;
    position: absolute !important;
    height: 100%;
}
.dialog-view > #mat-dialog-0 > dialog-overview-example-dialog > mat-dialog-content{
    max-height: 100% !important;
    &::-webkit-scrollbar {
        width: 3px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background: #ffffff00; 
    }
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(116, 116, 116, 0.534); 
        border-radius: 10px;
    }
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(90, 90, 90, 0.534); 
    }
}
// #fattura-elettronica{
//     max-width: unset !important; 
//     min-width: unset !important;
// }

.save-btn-fixed{
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 52px;
    align-items: center;
    margin-bottom: -24px;
    position: fixed;
    bottom: 24px;
    width: 80vw;
    margin-left: -24px;
    background: white;
}