<div class="navigation-path">
  Home > <b>Dashboard</b>
</div>

<div class="main-wrap">

  <div class="m-t-10" fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="space-between center" class="card-info">
      <div class="head">
        TOTAL ORDERS
      </div>
      <div class="comment">
        08.12.2018 15:00
      </div>
      <div class="value">
        2,500
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center" class="card-info">
      <div class="head">
        ORDERS SHIPPED
      </div>
      <div class="">
        <i class="material-icons success">
          done
        </i>
      </div>
      <div class="value">
        1,500
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center" class="card-info">
      <div class="head">
        ORDERS REJECTED
      </div>
      <div class="">
        <i class="material-icons delete">
          close
        </i>
      </div>
      <div class="value">
        800
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="space-between center" class="card-info">
      <div class="head">
        ORDERS BACKLOGGED
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between end " class="full-width">
        <div class="color-success fs-14 fw-600">
          Confirmed
        </div>
        <div class="color-help fs-14 fw-600 text-left">
          Not <br>
          Confirmed
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center" class="value full-width">
        <div>
          100
        </div>
        <div>
          100
        </div>
      </div>
    </div>
  </div>

  <div class="m-t-20" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between start">
    <div fxFlex="66.66%" class="card-wrap">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="head">
        <div>
          <div class="label m-b-5">
            Location
          </div>
          <div class="comment">
            Some comment to location
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="tools">
          <i class="material-icons">
            refresh
          </i>
          <i class="material-icons">
            arrow_drop_down_circle
          </i>
        </div>
      </div>
      <div class="body">

      </div>
    </div>

    <div fxFlex="33.33%" class="card-wrap">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="head">
        <div class="label m-b-5">
          Inventory Status
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="tools">
          <i class="material-icons">
            refresh
          </i>
          <i class="material-icons">
            arrow_drop_down_circle
          </i>
        </div>
      </div>
      <div class="body">
        <mat-list role="list">
          <mat-list-item role="listitem" class="listitem-custome">
            <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex="50%">
                Product 1
              </div>
              <div fxFlex="50%">
                10
              </div>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem" class="listitem-custome">
            <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex="50%">
                Product 2
              </div>
              <div fxFlex="50%">
                10
              </div>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem" class="listitem-custome">
            <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex="50%">
                Product 3
              </div>
              <div fxFlex="50%">
                10
              </div>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem" class="listitem-custome">
            <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex="50%">
                Product 4
              </div>
              <div fxFlex="50%">
                10
              </div>
            </div>
          </mat-list-item>
          <mat-list-item role="listitem" class="listitem-custome">
            <div class="full-width" fxLayout="row" fxLayoutAlign="space-between center">
              <div fxFlex="50%">
                Product 5
              </div>
              <div fxFlex="50%">
                10
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

  </div>

  <div class="m-t-20" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between start">

    <div fxFlex="33.33%" class="card-wrap">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="head">
        <div>
          <div class="label m-b-5">
            Sales
          </div>
          <div class="comment">
            Some comment to Sales
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="tools">
          <i class="material-icons">
            refresh
          </i>
          <i class="material-icons">
            arrow_drop_down_circle
          </i>
        </div>
      </div>
      <div class="body">

      </div>
    </div>

    <div fxFlex="33.33%" class="card-wrap">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="head">
        <div>
          <div class="label m-b-5">
            Users Activity
          </div>
          <div class="comment">
            Some comment to Users Activity
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="tools">
          <i class="material-icons">
            refresh
          </i>
          <i class="material-icons">
            arrow_drop_down_circle
          </i>
        </div>
      </div>
      <div class="body">

      </div>
    </div>

    <div fxFlex="33.33%" class="card-wrap">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="head">
        <div>
          <div class="label m-b-5">
            Returned
          </div>
          <div class="comment">
            Some comment to Returned
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px" class="tools">
          <i class="material-icons">
            refresh
          </i>
          <i class="material-icons">
            arrow_drop_down_circle
          </i>
        </div>
      </div>
      <div class="body">

      </div>
    </div>

  </div>

</div>